body{
    font-family: 'Zen Kaku Gothic New', sans-serif;
    color: #413C35;
    background-color: #FCF8F5;
}

p{
    line-height: 2;
}

/* header */
.header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top:  0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header__logo{
    margin-left: 30px;
}

.header__menu{
    display: flex;
}

.header__menu-item{
    margin-right: 30px;
    font-weight: 600;
    transition: all 0.25s;
}

.header__menu-btn{
    color: #FCF8F5;
    background-color: #FE8C12;
    padding: 10px 30px;
    border-radius: 90px;
}

.sp-header,.sp-header__nav{
    display: none;
}

.page-parts__header{
    background-color: #FCF8F5;
}

/* front-fv */
.front-fv__bg{
    position: relative;
}

.front-fv img {
    width: 100%;
}

.front-fv__desc{
    position: absolute;
    top: 50%;
    right: 30px;
}

.sp-front-fv__desc{
    display: none;
}

.front-fv__maintitle{
    font-size: calc(100vw / 30);
    line-height: 1.3;
    letter-spacing: 0.2em;
}

.front-fv__subtitle{
    font-size: calc(100vw / 78);
    padding-top: 20px;
}

/* common */
.common-wrapper{
    margin-top: 100px;
}

.common-inner{
    box-sizing: border-box;
    max-width: 1018px;
    width: 95%;
    margin: 0 auto;
    padding: 0 10px;
}

.common-inner-fluid{
    box-sizing: border-box;
    max-width: 1018px;
    width: 100%;
    margin: 0 auto;
}

.common-title + div,.common-title + ul,.common-title + ol,.common-title + form{
    margin-top: 50px;
}

.common-title{
    text-align: center;
}

.common-maintitle{
    font-size: 32px;
    padding-bottom: 20px;
    line-height: 1.5;
}

.common__desc{
    text-align: center;
    margin: 30px 0;
}

.common-subtitle{
    font-size: 24px;
    /* padding-bottom: 20px; */
}

.common-text{
    font-size: 16px;
}

.common-line{
    width: 320px;
}

.mt-50{
    margin-top: 50px;
}

.mt-30{
    margin-top: 30px;
}

.mt-20{
    margin-top: 20px;
}

.lh-15{
    line-height: 1.5;
}

.lh-17{
    line-height: 1.7;
}

/* banner */
/* .banner__inner{
    box-sizing: border-box;
    display: flex;
    color: #FFFFFF;
    font-weight: 500;
    background-color: #FE8C12;
    padding: 10px;
} */

.banner__inner{
    position: relative;
}

.banner-img{
    width: 100%;
}

.banner-btn{
    width: 32%;
    position: absolute;
    bottom: 20px;
    right: 3vw;
}

.banner-img{
    width: 100%;
}

/* .banner__desc{
    width: 35%;
    padding: 0 25px 0 25px;
}

.banner__desc-title{
    font-size: 28px;
    line-height: 1.3;
}

.banner__desc-line{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.banner__desc-text{
    font-size: 14px;
}

.banner__contact-box{
    width: 65%;
    position: relative;
}

.banner__img{
    width: 100%;
    height: auto;
} */

/* about */
.front-about__desc-box + .front-about__desc-box{
    margin-top: 100px;
}

.front-about__desc-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.front-about__desc{
    width: 55%;
    padding-bottom: 20px;
}

.front-about__img{
    display: block;
    width: 40%;
}

/* studio */
.front-studio__img-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.front-studio__img{
    width: 47%;
}
    
.front-studio__guideline{
    background-color: #F0CDC1;
    padding: 20px 0;
    text-align: center;
}

.front-studio__guideline-text{
    color: #D06456;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
}

.front-studio__guideline a{
    text-decoration: underline;
}

/* front-instructor */
.front-instructor__wrap{
    text-align: center;
}

.front-instructor__desc{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.front-instructor__desc-box{
    box-sizing: border-box;
    width: 48%;
    background-color: #FFFFFF;
    border-radius: 90px;
    padding: 20px 30px 50px;
    text-align: left;
}

.front-instructor__info-box{
    display: flex;
}

.front-instructor__img{
    width: 38%;
}

.front-instructor__img img{
    width: 100%;
}

.front-instructor__info{
    width: 62%;
    padding-left: 2%;
}

.front-instructor__name{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
}

.individual{
    font-size: 26px;
    font-weight: 600;
    padding-left: 15px;
}

.front-instructor__ctf{
    padding-inline-start: 1em;
}

.front-instructor__ctf li{
    font-size: 14px;
    line-height: 1.7;
    position: relative;
}

.front-instructor__ctf li::before{
    content: "・";
    position: absolute;
    top: 0em;
    left: -1em;
}

.front-instructor__text{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 20px;
}

/* front-course */
.front-course__wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.front-course__course-box{
    width: 31%;
    border-radius: 90px;
    overflow: hidden;
}

.front-course__img{
    width: 100%;
    height: 53%;
}

.front-course__desc{
    box-sizing: border-box;
    background-color: #FFFFFF;
    height: 47%;
    padding: 20px 35px 30px;
}

.front-course__text{
    font-weight: 500;
}

.front-course__btn{
    margin-top: 100px;
    text-align: center;
}

.front-course__btn a{
    display: block;
    width: 45%;
    background-color: #FE8C12;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
    margin: 0 auto;
    padding: 20px 0;
    border-radius: 90px;
}

/* front-itd */
.front-itd__wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    background-color: #FFFFFF;
    padding: 30px 30px;
    border-radius: 90px;
}

.front-itd__img{
    width: 44%;
}

.front-itd__desc-box{
    box-sizing: border-box;
    width: 56%;
    padding: 0 30px 0 20px;
}

.front-itd__subtitle{
    color: #FE8C12;
}

.front-itd__btn{
    display: block;
    width: 100%;
    background-color: #FE8C12;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
    border-radius: 90px;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}

/* front-voice */
.front-voice__desc-box{
    display: flex;
    align-items: center;
}

.front-voice__img{
    width: 18%;
}

.front-voice__desc-box + .front-voice__desc-box{
    margin-top: 50px;
}

.front-voice__desc{
    width: 82%;
    background-color: #F6D7BD;
    font-weight: 500;
    padding: 30px 40px;
    border-radius: 90px;
    margin-left: 50px;
    position: relative;
}

.front-voice__desc::before{
    content: "";
    width: 30px;
    height: 25px;
    background-color: #F6D7BD;
    clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 50%);
    position: absolute;
    top: 50%;
    left: -28px;
    transform: translateY(-50%);
}

.front-voice__info{
    font-size: 24px;
}

/* front-access */
.map{
    width: 100%;
}

/* front-contact */
.front-contact__btn{
    display: block;
    width: 45%;
    background-color: #FE8C12;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    border-radius: 90px;
    margin: 70px auto 0;
    padding: 20px 0;
}

/* footer */
.footer{
    color: #FFFFFF;
    font-weight: 500;
    text-align: center;
    margin-top: 100px;
}

.footer__deco{
    width: 100%;
    margin-bottom: -2px;
}

.footer__wrapper{
    background-color: #FE8C12;
    padding: 0 30px 30px;
}

.footer__desc{
    display: flex;
    align-items: flex-end;
}

.footer__desc-detail{
    padding-left: 30px;
    text-align: left;
}

address{
    font-style: normal;
}

.footer__menu{
    display: flex;
    font-size: 18px;
    padding-top: 50px;
}

.footer__menu-item + *{
    padding-left: 30px;
}

small{
    display: block;
    margin-top: 50px;
}

/* page-parts */
.page-header{
    background-color: #FCF8F5;
}

.page-parts__container{
    margin-top: 70px;
}

.page-parts__fv{
    width: 100%;
    height: 20vw;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.page-parts__fv-bg{
    width: 100%;
    height: 100%;
}

.page-parts__fv-mask{
    width: 100%;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.page-parts__maintitle{
    font-size: calc(100vw / 30);
    position: absolute;
    bottom: 3.5vw;
    left: 10vw;
}

/* studio */
.studio__fv{
    background-image: url("../img/studio-header.jpg");
}

/* resson */
.resson__fv{
    background-image: url("../img/resson-header.jpg");
}

.resson__wrap{
    display: flex;
    flex-wrap: wrap;
}

.resson__img{
    width: 43%;
}

.resson__img img{
    width: 100%;
}

.resson__desc{
    box-sizing: border-box;
    width: 57%;
    padding-left: 6%;

}


.resson__info-list{
    font-weight: 500;
}

.resson__features{
    display: inline-block;
    color: #FCF8F5;
    background-color: #FE8C12;
    font-weight: 500;
    font-size: 16px;
    padding: 0 30px;
    border-radius: 90px;
}

.resson__text{
    line-height: 1.5;
}

.resson__cp-lists{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.resson__cp-list{
    box-sizing: border-box;
    width: 31%;
    background-color: #FFFFFF;
    text-align: center;
    padding: 40px 20px;
    border-radius: 90px;
}

.resson__cp-topbox{
    background-image: url("../img/dashed.svg");
    background-position: bottom;
    background-size: contain;
    background-repeat: repeat-x;
    padding-bottom: 10px;
}

.resson__cp-bottombox{
    padding-top: 10px;
}

.resson__cp-name{
    font-size: 28px;
    color: #FE8C12;
}

.resson__cp-price{
    font-size: 26px;
    font-weight: 600;
    margin-top: 5px;
}

.resson__cp-price span{
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
}

.resson__cp-not{
    font-size: 20px;
    font-weight: 600;
}

.resson__cp-not span:nth-child(1){
    font-size: 24px;
}

.resson__cp-not span:nth-child(2){
    font-size: 20px;
    font-weight: 500;
}

.resson__cp-any span{
    font-size: 22px;
}

.resson__cp-features{
    text-align: left;
    font-weight: 500;
    line-height: 1.5;
    padding-inline-start: 10px;
}

/* contact */
.contact__fv{
    background-image: url("../img/contact-header.jpg");
}

.contact__inner{
    margin-top: 100px;
}

.form{
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding-top: 30px;
}

.form-row + * {
    margin-top: 50px;
}

.form-row{
    display: flex;
}

.form-row h3{
    width: 25%;
}

.form-row label{
    font-size: 20px;
    font-weight: 500;
}

input, textarea{
    width: 100%;
    border: none;
    font-size: 20px;
}

.input, .textarea{
    width: 75%;
}

.input input,.textarea textarea{
    box-sizing: border-box;
    background-color: #FFFFFF;
    padding: 10px 15px;
    border-radius: 4px;
}

.form-btn{
    display: block;
    width: 45%;
    background-color: #FE8C12;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    border-radius: 90px;
    margin: 70px auto;
    padding: 20px 0;
}

.sns__subtitle{
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
}

.sns__subtitle span{
    color: #FE8C12;
}

.sns__desc{
    background-color: #FE8C12;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}

.sns__text{
    font-size: 20px;
}

.sns__link{
    display: flex;
    align-items: center;
    justify-content: center;
}

.official{
    font-size: 90px;
}

.sns__qr{
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding: 5px 50px;
    border-radius: 90px;
    margin-left: 30px;
}

.sns__qr p{
    color: #FE8C12;
    font-size: 36px;
    font-weight: 600;
    padding-right: 20px;
}

/* trial */
.trial__fv{
    background-image: url("../img/trial-header.jpg");
}

.trial__subtitle{
    line-height: 1.5;
}

.trial__wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.trial__desc{
    width: 55%;
}

.trial__img{
    display: block;
    width: 40%;
}

.trial__flow-list + *{
    padding-top: 100px;
}

.trial__flow-img{
    width: 30%;
}

.trial__flow-img img{
    width: 100%;
}

.trial__flow-list{
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.trial__flow-number::before,.trial__flow-number::after{
    content: "";
    width: 5px;
    height: 300px;
    background-image: url("../img/trial-line.svg");
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.trial__flow-number01::before,.trial__flow-number01::after{
    top: 0;
}

.trial__flow-number02::before,.trial__flow-number03::before{
    top: 0;
}

.trial__flow-number02::after,.trial__flow-number03::after{
    bottom: 0;
}

.trial__flow-number04::before,.trial__flow-number04::after{
    bottom: 0;
}

.trial__flow-number {
    width: 5%;
    margin: 0 3.5% 0 6.5%;
    position: relative;
}

.trial__flow-number-bg{
    width: 100%;
    padding-bottom: 100%;
    background-color: #FE8C12;
    border-radius: 50%;
    position: relative;
}

.trial__flow-number p{
    font-size: 32px;
    font-weight: 600;
    color: #FFFFFF;
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1;
}

.trial__flow-desc{
    width: 55%;
}

.trial__flow-subtitle{
    font-size: 32px;
}

.trial__flow-text a{
    color: #FE8C12;
    text-decoration: underline;
}

.trial__banner-subtitle{
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;
}

.trial__banner{
    width: 100%;
}

.trial__book-subtitle{
    text-align: center;
}

.ycbm{
    width: 100%;
    margin-top: 50px;
}

/* tablet */
@media screen and (min-width:640px) and (max-width:1023px) {
    .br::before{
        content: "\A";
        white-space: pre;
    }
}

@media screen and (max-width:1023px) {
    .header__menu{
        display: none;
    }

    .header__menu-item.hidden{
        opacity: 0;
    }

    .sp-header{
        display: flex;
        align-items: center;
    }

    .hamburger{
        box-sizing: border-box;
        width: 30px;
        position: relative;
    }

    .hamburger span{
        display: block;
        width: 100%;
        height: 3px;
        background-color: #FE8C12;
        border-radius: 90px;
        transition: all 0.25s;
        position: absolute;
        z-index: 100;
    }

    .hamburger span:nth-of-type(1){
        top: -8px;
        left: 0;
    }

    .hamburger span:nth-of-type(2){
        top: 0;
        left: 0;
    }

    .hamburger span:nth-of-type(3){
        top: 8px;
        left: 0;
    }

    .hamburger.open span:nth-of-type(1){
        top: 0;
        left: 0;
        transform: rotate(45deg);
    }

    .hamburger.open span:nth-of-type(2){
        opacity: 0;
    }

    .hamburger.open span:nth-of-type(3){
        top: 0;
        left: 0;
        transform: rotate(-45deg);
    }

    .sp-header__nav{
        display: block;
        width: 100%;
        height: 110vh;
        background-color: #FCF8F5;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        transition: all 0.25s;
        padding-top: 50px;
        text-align: center;
        box-sizing: border-box;
    }

    .sp-header__nav.open{
        opacity: 1;
        visibility: visible;
    }

    .sp-header__menu-item{
        box-sizing: border-box;
        font-size: 22px;
        font-weight: 600;
    }

    .sp-header__menu-item + .sp-header__menu-item{
        margin-top: 50px;
    }

    .sp-header__menu-btn{
        color: #FFFFFF;
        background-color: #FE8C12;
        padding: 15px 60px;
        border-radius: 90px;
        display: inline-block;
    }

    .common-title + div, .common-title + ul, .common-title + ol, .common-title + form {
        margin-top: 40px;
    }

    .common-maintitle {
        font-size: 28px;
        padding-bottom: 10px;
        line-height: 1.5;
    }

    .common-line{
        width: 280px;
    }    

    .common-wrapper {
        margin-top: 80px;
    }    

    .common-block__wrap {
        margin-top: 40px;
    }

    .common-text {
        font-size: 14px;
    }

    .common__desc {
        margin: 25px 0;
    }

    .common-subtitle{
        font-size: 20px;
        /* padding-bottom: 30px; */
    }

    .mt-50{
        margin-top: 30px;
    }

    .mt-30 {
        margin-top: 10px;
    }

    .mt-20{
        margin-top: 15px;
    }

    .front-studio__guideline {
        padding: 15px 0;
    }

    .front-studio__guideline-text {
        font-size: 18px;
    }

    .front-instructor__name {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .individual {
        font-size: 24px;
        padding-left: 10px;
    }

    .front-instructor__text {
        font-size: 14px;
        margin-top: 15px;
    }

    .front-instructor__ctf li {
        font-size: 11px;
    }

    .front-course__btn {
        margin-top: 80px;
    }

    .front-course__btn a {
        font-size: 22px;
        padding: 15px 0;
    }

    .front-itd__desc-box {
        padding: 0 10px 0 20px;
    }

    .front-itd__btn {
        font-size: 20px;
        padding: 15px 0;
        margin-top: 20px;
    }

    .front-voice__desc {
        margin-left: 40px;
    }

    .front-voice__info {
        font-size: 22px;
    }

    .front-contact__btn {
        font-size: 22px;
        margin: 60px auto 0;
        padding: 15px 0;
    }

    .front-access__wrap p{
        width: 95%;
        padding: 0 10px;
        margin: 0 auto;
    }

    .footer{
        margin-top: 80px;
    }

    .footer__desc-detail {
        padding-left: 20px;
    }

    .footer__menu {
        font-size: 16px;
        padding-top: 40px;
    }

    small{
        margin-top: 40px;
    }

    .resson__desc {
        padding-left: 4%;
    }

    .resson__features {
        padding: 0px 20px;
    }

    .resson__cp-name {
        font-size: 24px;
    }

    .resson__cp-price {
        font-size: 24px;
    }

    .resson__cp-price span {
        font-size: 14px;
    }

    .resson__cp-not {
        font-size: 18px;
    }

    .resson__cp-not span:nth-child(1) {
        font-size: 22px;
    }

    .resson__cp-not span:nth-child(2) {
        font-size: 18px;
    }

    .form-row {
        display: block;
    }

    .form-row h3 {
        width: auto;
        font-size: 20px;
    }

    .input, .textarea {
        width: 100%;
        margin-top: 15px;
    }
    
    input, textarea {
        font-size: 18px;
    }

    .form-btn {
        width: 50%;
        font-size: 22px;
    }

    .sns__subtitle{
        font-size: 22px;
    }

    .sns__text {
        font-size: 16px;
    }

    .official {
        font-size: 70px;
    }

    .sns__qr p {
        font-size: 28px;
    }

    .trial__flow-subtitle {
        font-size: 26px;
    }

    .trial__flow-list + * {
        padding-top: 80px;
    }

    /* .trial__flow-list:nth-child(1):before{
        height: 120px;
    }

    .trial__flow-list:nth-child(4):before {
        height: 210px;
    } */

    .trial__flow-number {
        width: 40px;
        height: 40px;
    }

    /* .trial__flow-number01::after{
        content: "";
        width: 10px;
        height: 30px;
        background-color: #FCF8F5;
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    .trial__flow-number04::after{
        content: "";
        width: 10px;
        height: 30px;
        background-color: #FCF8F5;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    } */

    .trial__flow-number p {
        font-size: 24px;
    }

    .ycbm {
        margin-top: 30px;
    }
}

/* sp */
@media screen and (max-width:639px) {
    .sp-br::before{
        content: "\A";
        white-space: pre;
    }

    .header__logo {
        margin-left: 15px;
    }    

    .header__logo-img{
        height: 40px;
    }

    .header__menu-btn {
        padding: 10px 15px;
        font-size: 14px;
    }

    .header__menu-item {
        margin-right: 15px;
    }

    .front-fv__desc{
        display: none;
    }
    
    .sp-front-fv__desc{
        display: block;
        padding: 0 20px;
    }
    
    .front-fv__maintitle {
        font-size: calc(100vw / 18);
    }

    .front-fv__subtitle {
        font-size: calc(100vw / 33);
    }

    .common-wrapper {
        margin-top: 50px;
    }

    .common-title + div, .common-title + ul, .common-title + ol, .common-title + form {
        margin-top: 30px;
    }

    .common-inner{
        width: 100%;
    }

    .common-maintitle{
        font-size: 22px;
    }

    .common-subtitle{
        font-size: 16px;
        /* padding-bottom: 15px; */
    }

    .common-line {
        width: 240px;
    }

    .common-text{
        font-size: 12px;
    }

    .mt-50{
        margin-top: 20px;
    }

    .mt-30{
        margin-top: 15px;
    }

    .mt-20{
        margin-top: 10px;
    }

    .banner-btn {
        width: 78%;
        position: absolute;
        bottom: 38px;
        left: 50%;
        transform: translate(-50%);
    }

    .front-about__desc-box + .front-about__desc-box {
        margin-top: 50px;
    }

    .front-about__desc {
        width: 100%;
        padding-bottom: 0;
        margin-top: 20px;
        order: 1;
        text-align: center;
    }

    .mt{
        margin-top: 0;
    }

    .front-about__img {
        width: 100%;
    }  

    .front-studio__img + .front-studio__img{
        margin-top: 30px;
    }

    .front-studio__img {
        width: 100%;
    }

    .front-studio__guideline-text {
        font-size: 12px;
    }

    .front-instructor__desc-box + .front-instructor__desc-box {
        margin-top: 30px;
    }

    .front-instructor__desc-box {
        width: 100%;
    }

    .front-instructor__name{
        font-size: 20px;
    }

    .individual {
        font-size: 22px;
    }

    .front-instructor__text {
        font-size: 12px;
        margin-top: 15px;
    }

    .front-course__course-box + .front-course__course-box {
        margin-top: 30px;
    }

    .front-course__course-box {
        width: 100%;
    }

    .front-course__desc{
        text-align: center;
    }

    .front-course__subtitle{
        font-size: 20px;
    }

    .front-course__img {
        height: 55%;
    }

    .front-course__btn {
        margin-top: 50px;
    }

    .front-course__btn a {
        width: 80%;
        font-size: 18px;
    }

    .front-itd__wrap {
        justify-content: center;
        padding: 30px 30px;
    }

    .front-itd__img {
        width: 95%;
    }

    .front-itd__desc-box {
        width: 95%;
        padding: 0;
        margin-top: 20px;
    }

    .front-itd__subtitle{
        text-align: center;
        font-size: 20px;
    }

    .front-itd__btn {
        font-size: 16px;
    }

    .front-voice__info {
        font-size: 14px;
    }

    .front-voice__text{
        font-size: 12px;
    }

    .front-voice__desc {
        margin-left: 15px;
        padding: 30px 30px;
    }

    .front-voice__desc::before {
        width: 12px;
        height: 11px;
        left: -11px;
    }

    .map{
        height: 230px;
    }

    .front-access__wrap p{
        font-size: 12px;
    }

    .front-contact__btn {
        font-size: 18px;
        margin: 50px auto 0;
        width: 80%;
    }

    .footer{
        margin-top: 50px;
    }

    .footer__desc-detail{
        padding: 0;
        margin-top: 20px;
    }

    .footer__wrapper {
        padding: 0px 10px 20px;
    }

    .footer__menu-item + * {
        padding-left: 10px;
    }

    .footer__desc {
        align-items: center;
        flex-direction: column;
    }

    .footer__menu {
        font-size: 12px;
        padding-top: 30px;
    }

    .footer__logo-img{
        width: 70%;
    }

    .page-parts__fv{
        height: 40vw;
    }

    .page-parts__maintitle {
        font-size: calc(100vw / 18);
        bottom: 10px;
        left: 4vw;
    }

    .studio__fv{
        background-image: url("../img/sp-studio__header.jpg");
    }

    .resson__fv{
        background-image: url("../img/sp-resson__header.jpg");
    }

    .resson__img {
        width: 100%;
    }

    .resson__desc {
        padding: 0 8%;
        margin-top: 30px;
        width: 100%;
    }

    .resson__subtitle {
        font-size: 18px;
    }

    .resson__features {
        padding: 0px 18px;
        line-height: 1.7;
    }
    
    .resson__cp-list + .resson__cp-list{
        margin-top: 30px;
    }

    .resson__cp-list {
        width: 100%;
    }
    
    .resson__cp-name {
        font-size: 26px;
    }
    
    .resson__cp-price {
        font-size: 26px;
    }

    .resson__cp-price span {
        font-size: 16px;
    }

    .resson__cp-not span:nth-child(1) {
        font-size: 20px;
    }

    .form-row h3 {
        width: auto;
        font-size: 18px;
    }
    
    input, textarea {
        font-size: 16px;
    }

    .form-btn {
        width: 100%;
        font-size: 18px;
        padding: 15px 0;
        margin: 50px 0;
    }

    .sns__subtitle {
        font-size: 20px;
    }

    .sns__text {
        font-size: 12px;
    }

    .official {
        font-size: 60px;
    }

    .sns__qr {
        padding: 10px 20px;
        margin-left: 20px;
        position: relative;
    }

    .sns__qr::before {
        content: "";
        width: 15px;
        height: 26px;
        background-color: #FFFFFF;
        clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 50%);
        position: absolute;
        top: 35%;
        left: -8px;
    }

    .sns__qr p {
        font-size: 22px;
        padding-right: 10px;
    }

    .sns__qr img{
        height: 50px;
    }

    .trial__fv{
        background-image: url("../img/sp-trial__header.jpg");
    }

    .trial__desc {
        width: 100%;
        order: 1;
        margin-top: 30px;
        text-align: center;
    }

    .trial__img {
        width: 100%;
    }

    .trial__flow-list + * {
        padding-top: 50px;
    }

    .trial__flow-list::before {
        left: 37.2%;
    }

    .trial__flow-list:nth-child(1):before {
        height: 80px;
    }
        
    .trial__flow-list:nth-child(4):before {
        height: 130px;
    }    

    .trial__flow-number {
        width: 30px;
        height: 30px;
        margin: 0 5% 0 5%;
    }

    .trial__flow-number04::after{

    }

    .trial__flow-subtitle{
        font-size: 18px;
    }

    .trial__flow-number p {
        font-size: 16px;
    }

    .ycbm {
        margin-top: 20px;
    }

}
